// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: Lato;
    src: url("../assets/fonts/Lato/Lato-Regular.ttf");
}

.row {
    border-bottom: 1px solid #eee;
    padding: 0 0 5px 0;
}

a, h4 {
    color: #1661a2;
    text-decoration: none;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

ion-header, .bar-button-default-md, .toolbar-title-md {
    color: #fff;
}

.bar-button-default-md:hover:not(.disable-hover) {
    color: #ccc;
}

.content {
    color: #333;
}